# Ignore environment variables
.env

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
env/
.venv/
.env/

# Ignore IDE settings
.vscode/
.idea/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore log files
*.log
